<mat-toolbar color="primary" class="navbar">
  <span class="title">🏰 Golgari Palace Game Day</span>
  <span class="spacer"></span>
  
  <div class="nav-links">
    <a mat-button routerLink="/home" routerLinkActive="active" class="nav-link">
      <mat-icon>home</mat-icon>
      <span class="nav-text">Home</span>
    </a>
    <a mat-button routerLink="/games" routerLinkActive="active" class="nav-link">
      <mat-icon>sports_esports</mat-icon>
      <span class="nav-text">Games</span>
    </a>
    <a mat-button routerLink="/photos" routerLinkActive="active" class="nav-link">
      <mat-icon>photo_library</mat-icon>
      <span class="nav-text">Photos</span>
    </a>
  </div>
</mat-toolbar>

<div class="content">
  <ng-content></ng-content>
</div>
